<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post" action="/">
            <label for="messageUser">Name: </label>
            <input type="text" id="messageUser" name="messageUser"></input><br/>
            <label for="messageText">Message:</label>
            <input type="text" id="messageText" name="messageText"></input><br/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>